Skip to content
Features
Business
Explore
Marketplace
Pricing
This repository
Search
Sign in or Sign up
 Watch 0  Star 0  Fork 0 HristinaKrachkova/mobileProject
 Code  Issues 0  Pull requests 0  Projects 0 Insights 
Branch: master Find file Copy pathmobileProject/mobileProject/assets/css/custom.css
e21cc69  23 hours ago
@ejechev ejechev searchResult buttons and description added
2 contributors @ejechev @HristinaKrachkova
RawBlameHistory     
562 lines (470 sloc)  9.29 KB
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 20px;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    background-size: cover;
    background-attachment: fixed;
    color: #555;
}

#wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    margin-bottom: 20px;
}

header {
    width: 100%;
    position: relative;
    background-color: rgb(226, 226, 226);
    border-bottom: 2px solid #007db8;
    background: linear-gradient(rgba(0, 174, 231, 5.75), rgba(255, 255, 0, 0.10) 56%, rgba(142, 191, 33, 0.75) 83%);
    height: 200px;
    border-radius: 6px 6px 0 0;
}

#logo {
    width: 400px;
    margin: 12px 0px 0 26px;
    height: 250px;
    display: inline-block;
}

#logo img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

#slogan {
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 20px;
    margin-right: 35px;
    font-weight: bold;
}

#loginBtn {
    position: absolute;
    right: 35px;
    bottom: 0;
}

#loginBtn button {
    padding: 15px;
    background: #0093ce;
    border: none;
    cursor: pointer;
    border: 1px solid #007db8;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: 15px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    transition: background 0.4s ease-in-out;
    width: 120px;
}

#logoutButton, #publish {
    display: none;
     margin-top: -24px;
}

#loginBtn button:hover {
    background: #016d98;
}

main {
    width: 100%;
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
}

#mainLeft,
#mainRight {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.centerDiv {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 25px;
}

#mainRight {
    width: 50% !important;
    padding-left: 15px;
    box-sizing: border-box;
    margin-top: -32px;
}

#mainLeft,
.bigCatMenu {
    background: rgba(181, 181, 181, 0.22);
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.32);
    border-radius: 6px;
}

#buttonBox #btnBuy {
    display: inline-block;
    width: 49.5%;
}

#buttonBox #btnSell {
    display: inline-block;
    width: 49.5%;
}

#buttonBox {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-align: right;
}

#buttonBox #btnBuy span,
#buttonBox #btnSell span {
    background: #0093ce;
    text-align: center;
    padding: 19px 0;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.4s ease-in-out;
    font-size: 24px;
}

.activeItem span {
    background: rgba(181, 181, 181, 0.01) !important;
    color: black !important;
}

#buttonBox #btnBuy span:hover,
#buttonBox #btnSell span:hover {
    background: #016d98;
}

#iconNav {
    /* width: 50%; */
    margin-top: 10px;
    /* display: inline-block; */
}

#iconNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 470px;
    text-align: center;
}

#iconNav ul li {
    display: inline-block;
}

#iconNav ul li a {
    width: 90px;
    height: 60px;
    display: inline-block;
    cursor: default;
}

.formBoxControl {
    padding: 10px 0;
}

#searchMiniForm {
    padding: 5px 20px 15px;
}

.colLeft,
.colRight {
    width: 48%;
}

.colLeft {
    float: left;
}

.colRight {
    float: right;
}

#searchMiniForm select {
    width: 100%;
    padding: 10px;
    background: whitesmoke;
    margin-top: 7px;
    border: 1px solid darkgrey;
}

#searchMiniForm input.inputWidthCorrect {
    width: 100%;
    box-sizing: border-box;
}

.formBoxControl label {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#searchMiniForm input {
    margin: 8px 0px;
    padding: 10.3px;
    background: whitesmoke;
    border: none;
    border: 1px solid darkgrey;
    margin-bottom: 0px;
}

.formControlTitle {
    font-weight: bold;
}

.labelModify label {
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: -2px;
}

#searchMiniForm input:focus {
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

#searchMiniForm select:focus {
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.labelModify span {
    margin: 2px;
}

input.btnDefaultBasic {
    width: 150px;
    cursor: pointer;
    background: #0093ce !important;
    color: white;
    font-weight: bold;
    padding: 20px 0 !important;
    border: 1px solid #007db8 !important;
    transition: background 0.4s ease-in-out;
}

.centerObject {
    text-align: center;
}

.clear {
    clear: both;
}

input.btnDefaultBasic:hover {
    background: #016d98 !important;
}

h1 {
    font-size: 25px;
}

#bigCatMenu ul {
    padding: 0;
    list-style: none;
    margin: 10px auto -10px;
    width: 435px;
    text-align: center;
}

#bigCatMenu ul li {
    display: inline-block;
}

#bigCatMenu ul li a {
    background: #eee;
    display: block;
    width: 140px;
    height: 130px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    border: 1px solid #cacaca;
}

#bigCatMenu {
    margin: 35px 0;
}

#bigCatMenu ul li a img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out;
}

#bigCatMenu ul li a:hover {
    background: #d8d8d8;
}

#bigCatMenu ul li a>img:hover {
    opacity: 0.7;
}

.boxTitle {
    /* display: inline-block; */
    /* width: 48%; */
    /* margin: auto; */
    /* text-align: center; */
    /* vertical-align: super; */
}

.boxTitle h1 {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

section#news {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    padding-top: 5px;
    background: #d6d6d6;
    border-top: 3px solid #888;
    border-bottom: 3px solid #888;
}

#displayNews img {
    float: left;
    width: 200px;
    height: 200px;
}

#displayNews,
#newsList {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

#newsList>ul, #contactList ul {
    list-style-type: none;
}

.newsList>a {
    text-decoration: none;
}

.boxNewsContent {
    float: right;
    width: 55%;
    box-sizing: border-box;
    margin-top: 10px;
    
}

#newsList ul {
    margin: 0 40px;
}

#newsList ul li a {
    color: #444;
}

#newsList ul li {
    margin: 10px 0;
}

#newsList ul li a:hover {
    font-weight: bold;
}

#news h2 {
    text-align: center;
}

.boxNeewsContent {
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.boxNewsContent h5 {
    font-size: 17px;
    margin: 0px 0 26px 0;
    font-weight: bold;
}

#newsList {
    border-left: 1px solid rgba(74, 74, 74, 0.2);
}

#newsList ul {
    margin: 20px 46px;
    font-size: 0.9em;
    box-sizing: border-box;
}

#newest .item {
    display: inline-block;
}

section#newest {
    text-align: center;
    margin-top: 60px;
    text-align: center;
    margin-top: 60px;
    padding: 30px 0;
    background: rgba(181, 181, 181, 0.22);
    border: 1px solid #cccccc;
    box-shadow: 0 4px 2px -2px gray;
}

#newest .item {
    display: inline-block;
    box-sizing: border-box;
    width: 19%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.newest {
    color: #444;
}

img.iconNav {
    cursor: pointer;
}

#footNav {
    list-style: none;
    text-align: center;
    margin: 50px 0;
    display: block;
}

#footNav>li>a {
    text-decoration: none;
    color: #444;
    display: inline-block;
}

#footNav>li {
    display: inline-block;
    margin: 0 30px;
}

footer {
    width: 100%;
}

p.copyright {
    text-align: right;
    padding: 0 10px 10px 0;
}

#typesSelect {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

#typesSelect>select {
    width: 60%;
    margin-right: 50px;
}

#typesSelect>img {
    text-align: center;
    vertical-align: middle;
}

#termsAndConditions, #contactList  {
    border: 1px solid #cccccc;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 6px;
    padding: 23px;
    margin-top: -4px;
}

#publish {
    border: 1px solid #cccccc;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 6px;
    padding: 23px;
}
#termsAndConditions p {
    padding: 10px 0;
}

#termsAndConditions h2, #contactList h2 {
    padding-bottom: 20px;
}

#termsAndConditions a, {
    text-decoration: none;
    color: #555;
}

 
.iconNav {
    display: block;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.iconNav:hover, #logo img:hover {
    filter: brightness(80%);
    backface-visibility: hidden;
}
 
#iconUser {
    display: inline-block;
    width: 20px;
}

#user {
    padding-right: 4.4%;
    float: right;
    clear: both;
    display: none;
}

.imgResults {
    display: inline-block;
    width: 300px;
    height: 300px;
}

/*@media (min-width: 1200px);*/

.container {
    width: 1025px;
}

div#mainCat {
    width: 33%;
    margin-right: 67%;
}

.col-xs-6.col-sm-3 {
    width: 33%;
}

input.btn-input {
    width: 100.5%;
    height: 34px;
    border: 1px solid #0093ce;
}

.checkboxContainer {
    margin-left: -22px;
}

.row {
    margin-top: 30px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    width: 181px;
}

#publishFormBtn  {
    float: right;
    background: #0093ce;
    text-align: center;
    padding: 19px 0;
    color: white;
    border: 1px solid #007db8;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.4s ease-in-out;
    font-size: 16px;
    width: 180px;
    margin: 20px;
    border-radius: 5px 5px 5px 5px;
}
#loginAndRegisterBtn{
    border: 1px solid #007db8;
        background: #0093ce;
        transition: background 0.4s ease-in-out;
}
#publishFormBtn:hover,#loginAndRegisterBtn:hover{
    background: #016d98;
}

.btn-primary {
    color: #fff;
    background-color: #0093ce !important;
    border-color:#0093ce !important;
     transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
    background: #016d98;
}

.footerDivs{
    display: none;
}

input[name=terms_and_cons], label[for=terms_and_cons] {
    cursor: pointer;
}

button#publishBtn {
    display: inline-block;
    width: 120px;
}

.pInput {
    width: 19%;
    DISPLAY: INLINE-BLOCK;
    margin-left: 21px;
}

