.imgResults {
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 50px;
}

.cars {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 2px -2px grey;
    padding: 23px;
}

.carContent {
    display: inline-block;
    vertical-align: middle;
    margin: 60px;
    box-sizing: border-box;
    margin-right: 200px;
}

.carContent p {
    font-size: 1.15em;
    
}

#searchResult {
    margin-bottom: 20px;
}

.carDescription {
    display: none;
}

.buy {
    display: none;
    float: right;
    padding: 15px;
    background: #0093ce;
    border: none;
    cursor: pointer;
    border: 1px solid #007db8;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: 15px;
    border-radius: 5px 5px 5px 5px;
    border-bottom: none;
    transition: background 0.4s ease-in-out;
}

.seeMore {
    padding: 15px;
    background: #0093ce;
    border: none;
    cursor: pointer;
    border: 1px solid #007db8;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-left: 15px;
    border-radius: 5px 5px 5px 5px;
    border-bottom: none;
    transition: background 0.4s ease-in-out;
}

.seeMore:hover, .buy:hover{
    background: #016d98;
}

.randomImg {
    border-radius: 20px;
}
.newsImg {
 border-radius: 20px;
}