.imgResults {
    box-sizing: border-box;
    
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
}
.cars {
    display: inline-block;
    width: 100%;
    box-sizing:border-box;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.32);
    border-radius: 6px;
    padding: 23px;
}
.carContent {
    
    display: inline-block;
    vertical-align: middle;
    margin: 60px;
    box-sizing: border-box;
}